<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @picture, url:@pictures_path, local: true) do |form| %>

  <div class="text">
    <div class="title">本文</div>
    <%= @picture.content %>
    <%= form.hidden_field :content %>
  </div>

  <div class="image">
    <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="submit">
    <%= form.submit "投稿する", class:"button" %>
    <%= form.submit "戻る", name: "back", class:"button" %>
  </div>

<% end %>
Footer
